{% extends "app/totor-base-2.html" %}
{% block content %}
		<!-- Strat Slider Area -->
		<div class="slide__carosel owl-carousel owl-theme">
			<div class="slider__area slider--two bg-pngimage--4 d-flex slider__fixed--height justify-content-end align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-6 offset-md-3 col-md-9 col-sm-12">
							<div class="slider__activation">
								<!-- Start Single Slide -->
								<div class="slide">
									<div class="slide__inner">
										<h6>Create New Things</h6>
										<h1>Play & learn, Create Beautiful Heaven World</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipisic ming elit, sed do ei Excepteur.Tnam Bajki      vntoccaecat cupida proident, sunt in culpa qui dese runt mol .</p>
										<div class="slider__btn">
											<a class="dcare__btn black__btn max__height-btn" href="#">Read More</a>
										</div>
									</div>
								</div>
								<!-- End Single Slide -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__area slider--two bg-pngimage--4 d-flex slider__fixed--height justify-content-end align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-6 offset-md-3 col-md-9 col-sm-12">
							<div class="slider__activation">
								<!-- Start Single Slide -->
								<div class="slide">
									<div class="slide__inner">
										<h6>Create New Things</h6>
										<h1>Play & learn, Create Beautiful Heaven World</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipisic ming elit, sed do ei Excepteur.Tnam Bajki      vntoccaecat cupida proident, sunt in culpa qui dese runt mol .</p>
										<div class="slider__btn">
											<a class="dcare__btn black__btn max__height-btn" href="#">Read More</a>
										</div>
									</div>
								</div>
								<!-- End Single Slide -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slider Area -->

		<!-- Start Our Service Area -->
		<section class="junior__service bg-image--1 service--2 section-padding--bottom section--padding--xlg--top">
			<div class="container">
				<div class="row">
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="service border__color border__color--5 bg__cat--4">
							<div class="service__icon">
								<img src="images/shape/sm-icon/1.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="single-service.html">Drawing Class</a></h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor am quaerat voluptatem.</p>
								<div class="service__btn">
									<a class="dcare__btn btn__f1f1f1 hover__444  min__height-btn" href="single-service.html">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 xs-mt-60">
						<div class="service border__color border__color--6 bg__cat--5">
							<div class="service__icon">
								<img src="images/shape/sm-icon/2.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="single-service.html">Active Learning</a></h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor am quaerat voluptatem.</p>
								<div class="service__btn">
									<a class="dcare__btn btn__f1f1f1 hover__444 min__height-btn" href="single-single-service.html">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 md-mt-60 sm-mt-60">
						<div class="service border__color border__color--7 bg__cat--6">
							<div class="service__icon">
								<img src="images/shape/sm-icon/3.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="single-service.html">Creative Lesson</a></h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor am quaerat voluptatem.</p>
								<div class="service__btn">
									<a class="dcare__btn btn__f1f1f1 hover__444 min__height-btn" href="single-service.html">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Service -->
					<!-- Start Single Service -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12 md-mt-60 sm-mt-60">
						<div class="service border__color border__color--8 bg__cat--7">
							<div class="service__icon">
								<img src="images/shape/sm-icon/4.png" alt="icon images">
							</div>
							<div class="service__details">
								<h6><a href="single-service.html">Yoga Class</a></h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor am quaerat voluptatem.</p>
								<div class="service__btn">
									<a class="dcare__btn btn__f1f1f1 hover__444 min__height-btn" href="single-service.html">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</section>
		<!-- End Our Service Area -->

		<!-- Start Welcame Area -->
		<section class="junior__welcome__area welcome--2 bg-image--9 section-padding--lg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Welcome To Junior Home</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
						</div>
					</div>
				</div>
				<div class="row jn__welcome__wrapper align-items-center">
					<div class="col-md-12 col-lg-6 col-sm-12">
						<div class="jnr__Welcome__thumb">
							<img src="images/wel-come/2.jpg" alt="images">
							<a class="play__btn" href="https://www.youtube.com/watch?v=MCJEkZtqlBk"><i class="fa fa-play"></i></a>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 col-sm-12 md-mt-40 sm-mt-40">
						<div class="welcome__juniro__inner">
							<h3>Welcome to <span class="theme-color">O</span><span>u</span>r School</h3>
							<p class="wow flipInX">Lorem ipsum dolor sit amet, consectetur adipisic mExcepteur sint occaecat cupida proident, sunt in culpaoc caecacupidatat non proident, sunt in culpa qui officia destotarem aperiam, eaque ipsa quae ab illo voluptatemseamet occaecat proident, sunt in culpaoc caecacupidatat non proident, destotarem</p>
							<div class="wel__btn">
								<a class="dcare__btn" href="about-us.html">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Welcame Area -->

		<!-- Start Our Gallery Area -->
		<section class="junior__gallery__area gallery--2 bg--white section-padding--lg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Our Gallery</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
						</div>
					</div>
				</div>
				<div class="row galler__wrap mt--40">
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/1.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/1.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/2.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/2.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/3.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/3.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/4.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/4.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/5.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/5.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/6.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/6.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/7.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/3.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
					<!-- Start Single Gallery -->
					<div class="col-lg-3 col-md-6 col-sm-6 col-12">
						<div class="gallery">
							<div class="gallery__thumb">
								<a href="#">
									<img src="images/gallery/gallery-2/8.jpg" alt="gallery images">
								</a>
							</div>
							<div class="gallery__hover__inner">
								<div class="gallery__hover__action">
									<ul class="gallery__zoom">
										<li><a href="images/gallery/big-img/4.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
										<li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>	
					<!-- End Single Gallery -->
				</div>	
			</div>
		</section>
		<!-- End Our Gallery Area -->

		<!-- Start Team Area -->
		<section class="dcare__team__area pb--150 bg--white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-md-12">
						<div class="section__title text-center">
							<h2 class="title__line">Out Teachers</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunte magna aliquaet, consectetempora incidunt</p>
						</div>
					</div>
				</div>
				<div class="row mt--40">
					<!-- Start Single Team -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="team__style--3 team--4 hover-color-2">
							<div class="team__thumb">
								<img src="images/team-3/1.jpg" alt="team images">
							</div>
							<div class="team__hover__action">
								<div class="team__details">
									<div class="team__info">
										<h6><a href="#">Hanchica Merica</a></h6>
										<span>Drawing Instructor</span>
									</div>
									<p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									<ul class="dacre__social__link--2 d-flex justify-content-center">
										<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
										<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
										<li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
										<li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Team -->
					<!-- Start Single Team -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="team__style--3 team--4 hover-color-2">
							<div class="team__thumb">
								<img src="images/team-3/2.jpg" alt="team images">
							</div>
							<div class="team__hover__action">
								<div class="team__details">
									<div class="team__info">
										<h6><a href="#">Hanchica Merica</a></h6>
										<span>Drawing Instructor</span>
									</div>
									<p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									<ul class="dacre__social__link--2 d-flex justify-content-center">
										<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
										<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
										<li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
										<li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Team -->
					<!-- Start Single Team -->
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="team__style--3 team--4 hover-color-2">
							<div class="team__thumb">
								<img src="images/team-3/3.jpg" alt="team images">
							</div>
							<div class="team__hover__action">
								<div class="team__details">
									<div class="team__info">
										<h6><a href="#">Hanchica Merica</a></h6>
										<span>Drawing Instructor</span>
									</div>
									<p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
									<ul class="dacre__social__link--2 d-flex justify-content-center">
										<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
										<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
										<li class="vimeo"><a href="https://vimeo.com/"><i class="fa fa-vimeo"></i></a></li>
										<li class="pinterest"><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Single Team -->
				</div>
			</div>
		</section>
		<!-- End Team Area -->
		<!-- Start Counter Up Area -->
		<section class="dcare__counterup__area section-padding--lg bg-image--6">	
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="counterup__wrapper d-flex flex-wrap flex-lg-nowrap flex-md-nowrap justify-content-between">
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/1.png" alt="flat icon">
                                </div>
                                <div class="fact__count ">
                                    <span class="count">95</span>
                                </div>
                                <div class="fact__title">
                                    <h2>Student</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/2.png" alt="flat icon">
                                </div>
                                <div class="fact__count ">
                                    <span class="count color--2">95</span>
                                </div>
                                <div class="fact__title">
                                    <h2>classroom</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/3.png" alt="flat icon">
                                </div>
                                <div class="fact__count ">
                                    <span class="count color--3">40</span>
                                </div>
                                <div class="fact__title">
                                    <h2>Teacher</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
							<!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__icon">
                                    <img src="images/funfact/4.png" alt="flat icon">
                                </div>
                                <div class="fact__count">
                                    <span class="count color--4">10</span>
                                </div>
                                <div class="fact__title">
                                    <h2>School Bus</h2>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter Up Area -->
		<!-- Start Subscribe Area -->
		<section class="bcare__subscribe bg-image--7 subscrive--2">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-lg-12">
						<div class="subscribe__inner">
							<h2>Subscribe To Our Newsletter</h2>
                            <div class="newsletter__form">
                                <div class="input__box">
                                    <div id="mc_embed_signup">
                                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                <div class="news__input">
                                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your E-mail" required>
                                                </div>
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                <div class="clearfix subscribe__btn"><input type="submit" value="Send Now" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>        
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Subscribe Area -->
		{% endblock %}